.todo-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  margin-block: 1rem;
  padding: unset;
}

@media screen and (min-width: 768px) {
  .todo-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.todo-list__show-completed-form {
  align-items: center;
  display: flex;
  gap: 0.75rem;
  margin-block-start: 1rem;
}

.todo-list__content[data-empty="true"] {
  padding-block: 4rem;
}

.todo-list--empty {
  color: var(--color-grey-600);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.25rem;
  margin: unset;
  text-align: center;
}
