.todo-item {
  background-color: var(--color-blue-50);
  border-color: var(--color-grey-200);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  min-height: 144px;
  padding: 14px 16px;
  transition: background-color var(--transition-duration-long),
    border-color var(--transition-duration-long);
}

.todo-item[data-completed="true"] {
  background-color: var(--color-green-alpha30);
  border-color: var(--color-green-alpha30);
}

.todo-item[data-completed="true"] .todo-item__name {
  text-decoration: line-through;
}

.todo-item__content {
  align-items: center;
  display: flex;
  gap: 16px;
}

.todo-item__checkbox {
  display: inline;
  margin: unset;
  min-height: 28px;
  min-width: 28px;
}

.todo-item__name {
  color: var(--color-grey-600);
  font-size: 20px;
}

.todo-item__actions {
  display: flex;
  gap: 16px;
}
