.page-header {
  margin-inline: auto;
}

@media screen and (min-width: 1280px) {
  .page-header {
    max-width: 1024px;
  }
}

.page-header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-grey-700);
  padding-bottom: 8px;
}

.page-header__welcoming {
  color: var(--color-grey-700);
  margin: unset;
}
