:root {
  --color-blue-50: #f9f8ff;
  --color-blue-400: #5577ff;

  --color-green-600: #00b884;
  --color-green-alpha30: rgba(0, 175, 132, 0.1);

  --color-grey-100: #f5fffc;
  --color-grey-200: #e6e4f0;
  --color-grey-300: #c6c3cd;
  --color-grey-400: #9896a3;
  --color-grey-450: #9d9ba1;
  --color-grey-500: #82808f;
  --color-grey-600: #4f4f4f;
  --color-grey-700: #56555c;

  --color-magenta-400: #fd71af;
  --color-magenta-alpha30: rgba(253, 113, 175, 0.3);

  --color-purple-400: #7b68ee;
  --color-purple-alpha30: rgba(123, 104, 238, 0.3);

  --color-error-300: #e57373;
  --color-error-400: #ef5350;
  --color-error-alpha30: rgba(229, 115, 115, 0.3);

  --color-turquoise-400: #49ccf9;

  --color-yellow-400: #ffc800;

  --color-white: #ffffff;

  --global-padding-inline: 20px;
  --global-padding-block: 20px;

  --global-hover-opacity: 0.7;

  /* brands */
  --color-linkedin: #0e76a8;
  --color-github: #24292e;
  --color-instragram: #e1306c;

  /* animations & transitions */
  --transition-duration: 300ms;
  --transition-duration-long: 600ms;
}

html {
  -webkit-font-smoothing: antialiased;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: unset;
}

body,
button,
input,
textarea {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* reset */
ul,
p {
  margin: unset;
  padding: unset;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
