.input-field__label {
  font-size: 20px;
}

.input-field__textarea {
  border: 1px solid var(--color-grey-300);
  border-radius: 4px;
  display: block;
  font-size: 20px;
  padding: 8px 12px;
}

.input-field__textarea:focus-visible {
  outline: 1px solid var(--color-purple-400);
}

.input-field__error {
  color: var(--color-error-400);
  margin: unset;
}
